In [1]:
import pandas as pd
import QuantLib as ql

In [2]:
df = pd.read_excel('case_study_q1_data.xlsx', skiprows=2)

In [3]:
df.head()

,LVWR,LVWR.1,TLSI,TLSI.1,AFRI,AFRI.1,CLBT,CLBT.1,GRND,GRND.1
0,2024-01-02,10.89,2024-01-02,8.250,2024-01-02,10.59,2024-01-02,8.43,2024-01-02,8.56
1,2024-01-03,11.61,2024-01-03,8.090,2024-01-03,10.69,2024-01-03,8.20,2024-01-03,8.20
2,2024-01-04,11.62,2024-01-04,8.330,2024-01-04,10.68,2024-01-04,8.22,2024-01-04,8.33
3,2024-01-05,11.18,2024-01-05,8.790,2024-01-05,10.68,2024-01-05,8.23,2024-01-05,8.30
4,2024-01-08,10.90,2024-01-08,8.985,2024-01-08,10.63,2024-01-08,8.48,2024-01-08,8.78